/* start variables */
:root {
  --main-color: #012970;
  --alt-main-color: #013289;
  --lighter-color: #4154f1;
  --transition: 0.5s;
  --paragraph-color: #444444;
  --section-padding: 80px 0;
  --paragraph-line-height: 1.5;
}

/* end variables */

/* start global rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start component */
.main-heading {
  text-align: center;
  padding-bottom: 35px;
  font-family: "Open Sans", sans-serif;
}

.main-heading span {
  color: var(--lighter-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
}

.main-heading h1 {
  margin: 15px 0 0 0;
  color: var(--main-color);
  font-size: 38px;
  font-weight: 800;
}

@media (max-width: 767px) {
  .main-heading h1 {
    font-size: 25px;
    padding: 0 15px;
  }
}

/* end component */

/* end global rules */

/* start header */
header {
  min-height: 85px;
  width: 100%;
  position: absolute;
  transition: var(--transition);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 85px;
  gap: 15px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

header .logo a {
  font-size: 30px;
  font-weight: 700;
  color: var(--alt-main-color);
  letter-spacing: 1px;
}

header nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

@media (max-width: 991px) {
  header nav ul {
    display: none;
  }
}

header nav > ul > li > a {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-color);
  transition: var(--transition);
  display: block;
}

header nav > ul > li:hover > a {
  color: var(--lighter-color);
}

header nav ul li .active {
  color: var(--lighter-color);
}

header nav ul .drop-down {
  position: relative;
}

@media (max-width: 991px) {
  header nav ul .drop-down a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

header nav ul .drop-down ul {
  position: absolute;
  box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
  top: 80px;
  left: 0;
  width: 200px;
  border-radius: 5px;
  background-color: white;
  z-index: -2;
  opacity: 0;
  transition: z-index var(--transition), opacity var(--transition),
    top var(--transition), left var(--transition);
  visibility: hidden;
}

header nav .menu .drop-menu > ul {
  z-index: 2;
  opacity: 1;
  top: 35px;
  visibility: visible;
  display: block;
}
@media (max-width: 991px) {
  header nav .menu .drop-menu > ul {
    position: relative;
    top: 20px;
    width: 100%;
  }
}

header nav ul .drop-down ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #e7e7e7;
}

header nav ul .drop-down ul li:nth-child(3) {
  position: relative;
}

header nav ul .drop-down ul li:nth-child(3) ul {
  top: 0;
  left: -160px;
}

header nav ul .drop-down ul li:nth-child(3) ul li:hover a {
  color: var(--lighter-color);
}

header nav ul .drop-down ul li:nth-child(3) a i {
  font-size: 11px;
  margin-left: 4px;
  transition: var(--transition);
}

header nav ul .drop-down ul li:nth-child(3):hover a i {
  transform: translateX(5px);
  color: var(--lighter-color);
}

header nav ul .drop-down ul .deep-drop-menu .drop-menu-two {
  z-index: 2;
  opacity: 1;
  left: -197px;
  visibility: visible;
  display: block;
}
@media (max-width: 991px) {
  header nav ul .drop-down ul .deep-drop-menu .drop-menu-two {
    position: relative;
    left: 0;
    top: 17px;
    width: 100%;
  }
}

header nav ul .drop-down ul li a {
  font-size: 15px;
  color: var(--alt-main-color);
  font-weight: 500;
  transition: var(--transition);
}

header nav ul .drop-down > ul > li:hover > a {
  color: var(--lighter-color);
}

header nav ul .drop-down i {
  font-size: 12px;
  color: #134192;
  transition: 0.4s;
}

header nav ul .drop-down:hover > a > i {
  color: var(--lighter-color);
}

header nav ul .drop-down a:hover i {
  transform: translateY(3px);
}

header nav .toggle {
  width: 28px;
  height: 19px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 100;
}

header nav span {
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  transition: var(--transition);
}

header nav span:first-child {
  top: 0;
}

header nav span:nth-child(2) {
  top: 8px;
}

header nav span:last-child {
  top: 16px;
}

/* with JS */

header nav .btn span:first-child,
header nav .btn span:last-child {
  top: 8px;
  transition: var(--transition);
  background-color: tomato;
}

header nav .btn span:first-child {
  transform: rotate(45deg);
}
header nav .btn span:last-child {
  transform: rotate(-45deg);
}

header nav .btn span:nth-child(2) {
  opacity: 0;
  transition: var(--transition);
}

header nav .show {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  background-color: white;
  padding: 24px 17px;
  z-index: 100;
  overflow-y: auto;
  height: 83vh;
  border-radius: 15px;
}
header nav .show li {
  width: 100%;
}

@media (min-width: 992px) {
  header nav .toggle {
    display: none;
  }
}

header nav ul button {
  border: none;
  padding: 10px 20px;
  background-color: var(--lighter-color);
  border-radius: 6px;
  cursor: pointer;
  transition: var(--transition);
}
@media (max-width: 991px) {
  header nav ul button {
    width: 100%;
    text-align: left;
    margin-top: 6px;
  }
}

header nav ul button:hover {
  background-color: #5969f3;
}

header nav ul button a {
  color: white;
  font-weight: 600;
}

/* end header */

/* start landing */
.landing {
  padding-top: 120px;
  padding-bottom: 60px;
  min-height: 100vh;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.landing .container {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
    gap: 70px;
    padding-top: 35px;
    text-align: center;
  }
}

.landing .text,
.landing .image {
  flex-basis: 50%;
}

.landing .text h1 {
  margin: 0 0 15px 0;
  font-size: 48px;
  color: var(--main-color);
  line-height: 1.2;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 37px;
  }
}

.landing .text p {
  font-size: 26px;
  color: var(--paragraph-color);
  margin-bottom: 30px;
  line-height: var(--paragraph-line-height);
}

@media (max-width: 767px) {
  .landing .text p {
    font-size: 20px;
  }
}

.landing .text button {
  border: none;
  background-color: var(--lighter-color);
  color: white;
  padding: 15px 45px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);
}

.landing .text button i {
  margin-left: 4px;
  transition: var(--transition);
  font-size: 14px;
}

.landing .text button:hover i {
  transform: translateX(7px);
}

.landing .image img {
  max-width: 100%;
}

/* end landing */

/* start about us */
.about-us {
  padding: var(--section-padding);
}

.about-us .container {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .about-us .container {
    flex-direction: column;
  }
}

.about-us .text,
.about-us .image {
  flex-basis: 50%;
}

.about-us .text {
  padding: 40px;
  background-color: #f6f9ff;
}

.about-us .text span {
  display: block;
  color: var(--lighter-color);
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.about-us .text p:first-of-type {
  color: var(--main-color);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about-us .text p:last-of-type {
  color: var(--paragraph-color);
  font-size: 18px;
  margin-bottom: 25px;
  line-height: var(--paragraph-line-height);
}

.about-us .text button {
  border: none;
  background-color: var(--lighter-color);
  color: white;
  padding: 15px 45px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);
}

@media (max-width: 991px) {
  .about-us .text button {
    display: block;
    margin: auto;
  }
}

.about-us .text button i {
  margin-left: 4px;
  transition: var(--transition);
  font-size: 14px;
}

.about-us .text button:hover i {
  transform: translateX(7px);
}

.about-us .image img {
  max-width: 100%;
}

/* end about us */

/* start our values */
.values {
  padding: var(--section-padding);
  background-color: #f2f5fc;
}

.values .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.values .box {
  background-color: white;
  box-shadow: 0 0 20px #ddd;
  padding: 25px;
  text-align: center;
  transition: var(--transition);
}

.values .box:hover {
  box-shadow: 0 0 15px rgb(65 84 241 / 44%);
}

.values .box img {
  max-width: 100%;
  width: 200px;
  margin: 15px auto;
  transition: var(--transition);
  transform: scale(1);
}

.values .box:hover img {
  transform: scale(0.9);
}

.values .box h3 {
  color: var(--main-color);
  margin-bottom: 18px;
  font-size: 25px;
}

.values .box p {
  font-size: 17px;
  line-height: var(--paragraph-line-height);
  color: var(--paragraph-color);
}

/* end our values */

/* start numbers */
.numbers {
  padding: var(--section-padding);
}

.numbers .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

.numbers .box {
  padding: 15px;
  text-align: center;
  box-shadow: 0px 0 30px rgb(1 41 112 / 12%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  position: relative;
}

.numbers .box::before,
.numbers .box::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background-color: var(--lighter-color);
  transition: 0.6s;
}

.numbers .box::before {
  top: 0;
  right: 0;
}

.numbers .box::after {
  bottom: 0;
  left: 0;
}

.numbers .box:hover::before,
.numbers .box:hover::after {
  height: 100%;
}

.numbers .box i {
  font-size: 45px;
}

.numbers .box:first-child i {
  color: var(--lighter-color);
}

.numbers .box:nth-child(2) i {
  color: #ee6c20;
}

.numbers .box:nth-child(3) i {
  color: #15be56;
}

.numbers .box:last-child i {
  color: #bb0852;
}

.numbers .box .info {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.numbers .box .info h2 {
  color: var(--main-color);
  font-size: 35px;
}

.numbers .box .info span {
  color: var(--paragraph-color);
}

/* end numbers */

/* start features */
.features {
  padding: var(--section-padding);
}

.features .holder {
  display: flex;
  gap: 30px;
}

@media (max-width: 991px) {
  .features .holder {
    flex-direction: column;
  }
}

.features .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  place-items: center;
}

.features .boxes .box {
  box-shadow: 0px 0 30px rgb(1 41 112 / 12%);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  height: 80px;
  width: 100%;
}

.features .boxes .box i {
  padding: 10px 12px;
  background-color: #ecf3ff;
  transition: var(--transition);
  border-radius: 5px;
}

.features .boxes .box:hover i {
  background-color: var(--lighter-color);
  color: white;
}

.features .boxes .box h2 {
  color: var(--main-color);
  font-size: 18px;
}

.features .boxes,
.features .img {
  flex-basis: 50%;
}

.features .img img {
  max-width: 100%;
}

.features .holder:nth-child(2) {
  margin-top: 120px;
}

.features .holder .text {
  flex-basis: 50%;
}

.features .holder .text h1 {
  margin: 0 0 15px 0;
  color: var(--main-color);
}

@media (max-width: 767px) {
  .features .holder .text h1 {
    font-size: 23px;
  }
}

.features .holder .text .info {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #ddd;
}

.features .holder .text .info span {
  font-size: 16px;
  display: block;
  color: var(--main-color);
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 0;
  cursor: pointer;
  transition: var(--transition);
  position: relative;
}

.features .holder .text .info span:hover {
  color: var(--lighter-color);
}

.features .holder .text .info .active {
  color: var(--lighter-color);
}

.features .holder .text .info .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--lighter-color);
  bottom: 0;
  left: 0;
}

.features .holder .text .info-text {
  display: none;
}

.features .holder .text .show-text {
  display: block;
  animation: show 1s;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.features .holder .text p {
  font-size: 17px;
  line-height: var(--paragraph-line-height);
  color: var(--paragraph-color);
}

.features .holder .text p:not(:last-child) {
  margin-bottom: 15px;
}

.features .holder .text .line {
  margin: 10px 0;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
}

.features .holder .text .line i {
  color: var(--lighter-color);
  margin-right: 7px;
}

.features .header {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 30px;
  color: var(--main-color);
  font-weight: 700;
}

@media (max-width: 767px) {
  .features .header {
    font-size: 27px;
  }
}

.features .holder:last-child .img {
  flex-basis: 40%;
  width: 300px;
  margin: auto;
}

.features .holder .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-row: 15px;
  flex-basis: 100%;
}

.features .holder .grid .box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 15px;
}

.features .holder .grid .box i {
  color: var(--lighter-color);
  font-size: 35px;
  margin-top: 10px;
}

.features .holder .grid .box .info h3 {
  color: var(--main-color);
  margin-bottom: 10px;
  font-size: 20px;
}

.features .holder .grid .box .info p {
  color: var(--paragraph-color);
  font-size: 17px;
  line-height: var(--paragraph-line-height);
}

/* end features */

/* start services */
.services {
  padding: var(--section-padding);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  text-align: center;
}

.services .box {
  padding: 60px 32px;
  box-shadow: 0px 0 30px rgb(1 41 112 / 12%);
  border-radius: 6px;
  border-bottom: 4px solid red;
  transition: var(--transition);
}

.services .box:hover {
  color: white;
}

.services .box:first-child {
  border-color: #2db6fa;
}

.services .box:nth-child(2) {
  border-color: #f68c09;
}

.services .box:nth-child(3) {
  border-color: #08da4e;
}

.services .box:nth-child(4) {
  border-color: #e92933;
}

.services .box:nth-child(5) {
  border-color: #be2fe2;
}

.services .box:last-child {
  border-color: #f5289c;
}

.services .box:hover:first-child {
  background-color: #2db6fa;
}

.services .box:hover:nth-child(2) {
  background-color: #f68c09;
}

.services .box:hover:nth-child(3) {
  background-color: #08da4e;
}

.services .box:hover:nth-child(4) {
  background-color: #e92933;
}

.services .box:hover:nth-child(5) {
  background-color: #be2fe2;
}

.services .box:hover:last-child {
  background-color: #f5289c;
}

.services .box > i {
  font-size: 30px;
  padding: 23px 21px;
  background-color: brown;
  margin-bottom: 20px;
  border-radius: 4px;
  transition: var(--transition);
}

.services .box:first-child > i {
  color: #2db6fa;
  background-color: #dbf3fe;
}

.services .box:nth-child(2) > i {
  color: #f68c09;
  background-color: #fde3c4;
}

.services .box:nth-child(3) > i {
  color: #08da4e;
  background-color: #cffddf;
}

.services .box:nth-child(4) > i {
  color: #e92933;
  background-color: #fef7f8;
}

.services .box:nth-child(5) > i {
  color: #be2fe2;
  background-color: #f8e4fd;
}

.services .box:last-child > i {
  color: #f5289c;
  background-color: #feecf7;
}

.services .box:hover > i {
  background-color: white;
}

.services .box h3 {
  color: var(--paragraph-color);
  font-size: 27px;
  transition: var(--transition);
}

.services .box p {
  color: var(--paragraph-color);
  line-height: var(--paragraph-line-height);
  margin: 15px 0;
  font-size: 17px;
  transition: var(--transition);
}

.services .box button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 7px;
  margin: 20px auto 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: var(--transition);
}

.services .box:first-child button {
  color: #2db6fa;
}

.services .box:nth-child(2) button {
  color: #f68c09;
}

.services .box:nth-child(3) button {
  color: #08da4e;
}

.services .box:nth-child(4) button {
  color: #e92933;
}

.services .box:nth-child(5) button {
  color: #be2fe2;
}

.services .box:last-child button {
  color: #f5289c;
}

.services .box:hover h3,
.services .box:hover p,
.services .box:hover button {
  color: white;
}

/* end services */

/* start pricing */
.pricing {
  padding: var(--section-padding);
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  text-align: center;
  overflow: hidden;
  padding: 50px 30px;
  
}

.pricing .box {
  box-shadow: 0px 0 30px rgb(1 41 112 / 12%);
  border-radius: 6px;
  padding: 40px 20px;
  transition: 0.9s;
  position: relative;
  overflow: hidden;
}

.pricing .box:nth-child(2):after{
  content: "Featured";
  position: absolute;
  width: 150px;
  height: 25px;
  background-color: #4154f1;
  top: 20px;
  right: -37px;
  transform: rotate(43deg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.pricing .box:hover {
  transform: scale(1.1);
}

.pricing .box h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 800;
}

.pricing .box:first-child h4 {
  color: #0fd6c2;
}

.pricing .box:nth-child(2) h4 {
  color: #08da4e;
}

.pricing .box:nth-child(3) h4 {
  color: #f68c09;
}

.pricing .box:last-child h4 {
  color: #f5289c;
}

.pricing .box .price {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 700;
  color: var(--paragraph-color);
  position: relative;
}

.pricing .box .price::before {
  content: "$";
  position: absolute;
  left: 55px;
  top: 0;
  font-size: 18px;
  font-weight: 900;
}

.pricing .box:first-child .price::before {
  left: 63px;
}

.pricing .box .price span {
  color: #bababa;
  font-size: 20px;
  margin-left: 4px;
}

.pricing .box img {
  max-width: 100%;
  width: 140px;
  margin: 20px auto;
}

.pricing .box ul li {
  margin-bottom: 18px;
  font-size: 17px;
  color: var(--paragraph-color);
}

.pricing .box:first-child ul li:nth-child(4),
.pricing .box:first-child ul li:nth-child(5),
.pricing .box:nth-child(2) ul li:last-child {
  text-decoration: line-through;
  color: #ccc;
}

.pricing .box button {
  border: 1px solid var(--lighter-color);
  padding: 12px 40px;
  background-color: white;
  border-radius: 30px;
  margin: 10px 0;
  color: var(--lighter-color);
  font-weight: 600;
  transition: var(--transition);
  cursor: pointer;
}

.pricing .box button:hover {
  color: white;
  background-color: var(--lighter-color);
}

/* end pricing */

/* start FAQ */
.faq {
  padding: var(--section-padding);
}

.faq .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
}

@media (max-width: 991px) {
  .faq .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
}

.faq ul li {
  padding: 20px 0;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  cursor: pointer;
  color: var(--paragraph-color);
  transition: var(--transition);
  align-items: baseline;
  gap: 5px;
}

@media (max-width: 767px) {
  .faq ul:first-child li:nth-child(3) {
    border-bottom: 1px solid #ccc;
  }
  .faq .container {
    gap: 1px;
  }
}

.faq ul li:hover {
  color: var(--lighter-color);
}

.faq ul:first-child .question,
.faq ul:last-child .question {
  border-bottom: 1px solid #ccc;
}

.faq .faq-ul .question .answer {
  padding-bottom: 20px;
  display: none;
}

.faq .faq-ul .question .show-text {
  display: block;
}

.faq ul li i {
  font-size: 16px;
  transition: 0.1s;
}

.faq ul li .rotate-arrow {
  transform: rotate(180deg);
}

/* end FAQ */

/* start portfolio */
.portfolio {
  padding: var(--section-padding);
}

.portfolio .shuffle ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 7px;
}

.portfolio .shuffle ul li {
  transition: var(--transition);
  cursor: pointer;
  padding: 9px 22px;
  border-radius: 20px;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.portfolio .shuffle ul li:first-child {
  border: 1px solid var(--lighter-color);
  color: var(--lighter-color);
}

.portfolio .shuffle ul li:hover {
  border-color: var(--lighter-color);
  color: var(--lighter-color);
}

.portfolio .holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  place-items: center;
}

.portfolio .holder .box {
  position: relative;
}

.portfolio .holder .box .img {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.portfolio .holder .box .img::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 50%);
  z-index: 2;
  transition: var(--transition);
  opacity: 0;
}

.portfolio .holder .box .img:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.portfolio .holder .box .img img {
  max-width: 100%;
  width: 400px;
  transition: 1s;
}

.portfolio .holder .box .img:hover img {
  transform: scale(1.1);
}

.portfolio .holder .box .img .details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: var(--transition);
  z-index: 3;
}

.portfolio .holder .box .img .details::before,
.portfolio .holder .box .img .details::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: transparent;
  transition: var(--transition);
}

.portfolio .holder .box .img .details::before {
  top: -50px;
  left: -100px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
}

.portfolio .holder .box .img .details::after {
  bottom: -50px;
  right: -100px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
}

.portfolio .holder .box .img:hover .details::before {
  top: -65px;
  left: -120px;
}

.portfolio .holder .box .img:hover .details::after {
  bottom: -65px;
  right: -120px;
}

.portfolio .holder .box .img:hover .details {
  opacity: 1;
}

.portfolio .holder .box .details h3 {
  font-size: 22px;
  font-weight: 700;
}

.portfolio .holder .box .details span {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px 0;
  display: block;
}

.portfolio .holder .box .details h3,
.portfolio .holder .box .details span {
  color: var(--main-color);
}

.portfolio .holder .box .details .icon {
  display: flex;
  gap: 13px;
}

.portfolio .holder .box .details .icon i {
  color: white;
  background-color: var(--lighter-color);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 2.5;
  cursor: pointer;
  transition: var(--transition);
}

.portfolio .holder .box .details .icon i:hover {
  opacity: 80%;
}

/* end portfolio */

/* start testimonials */
.testimonials {
  padding: var(--section-padding);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 10px;
}

.testimonials .box {
  text-align: center;
  padding: 40px;
}

.testimonials .box:nth-child(2) {
  box-shadow: 0px 0 30px rgb(1 41 112 / 12%);
}

.testimonials .box:first-child,
.testimonials .box:last-child {
  position: relative;
  transition: var(--transition);
}

.testimonials .box:first-child::before,
.testimonials .box:last-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsl(0deg 0% 100% / 60%);
  transition: var(--transition);
}

.testimonials .box:first-child:hover,
.testimonials .box:last-child:hover {
  box-shadow: 0px 0 30px rgb(1 41 112 / 12%);
}

.testimonials .box:first-child:hover::before,
.testimonials .box:last-child:hover::before {
  opacity: 0;
}

.testimonials .box .icon {
  color: #ffc107;
  margin-bottom: 20px;
}

.testimonials .box p {
  margin: 0 auto 25px;
  font-size: 20px;
  color: var(--paragraph-color);
  font-style: italic;
  width: 221px;
  line-height: var(--paragraph-line-height);
}

.testimonials .box img {
  width: 90px;
  border-radius: 50%;
  margin: 15px auto;
}

.testimonials .box h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.testimonials .box span {
  font-size: 15px;
  color: #999;
}

.testimonials .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  gap: 15px;
}

.testimonials .dots span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--lighter-color);
  cursor: pointer;
  transition: var(--transition);
}

.testimonials .dots span:nth-child(2) {
  background-color: var(--lighter-color);
}

.testimonials .dots span:hover {
  background-color: var(--lighter-color);
}

/* end testimonials */

/* start team */
.team {
  padding: var(--section-padding);
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  overflow: hidden;
}

.team .box {
  box-shadow: 0px 0 30px rgb(1 41 112 / 12%);
  border-radius: 5px;
  overflow: hidden;
  transition: var(--transition);
}

.team .box:hover {
  transform: scale(1.1);
}

.team .box .img {
  position: relative;
  overflow: hidden;
}

.team .box .img .social {
  position: absolute;
  top: 30px;
  right: -100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 0;
  border-radius: 5px;
  transition: var(--transition) 0.2s;
}

.team .box .img:hover .social {
  right: 14px;
}

.team .box .img .social i {
  color: rgba(1, 41, 112, 0.5);
  cursor: pointer;
  padding: 3px 13px;
  font-size: 18px;
  transition: var(--transition);
}

.team .box .img .social i:hover {
  color: rgba(1, 41, 112, 0.8);
}

.team .box .img::before {
  content: "";
  position: absolute;
  background-image: url("../img/team-shape.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 67px;
  bottom: -1px;
}

img {
  max-width: 100%;
  display: block;
}

.team .box .text {
  padding: 15px 20px;
  text-align: center;
}

.team .box .text h4 {
  color: var(--main-color);
  font-size: 20px;
  margin-bottom: 10px;
}

.team .box .text span {
  display: block;
  margin-bottom: 15px;
  color: #999;
  font-size: 15px;
}

.team .box .text p {
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: var(--paragraph-line-height);
  font-style: italic;
  margin-bottom: 10px;
}

/* end team */

/* start clients */
.clients {
  padding: var(--section-padding);
}

.clients .row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  place-items: center;
}

.clients .row img {
  max-width: 100%;
  width: 100px;
  opacity: 45%;
  transition: var(--transition);
}

.clients .row img:hover {
  opacity: 100%;
}

.clients .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 15px;
}

.clients .dots span {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid var(--lighter-color);
  cursor: pointer;
  transition: var(--transition);
}

.clients .dots span:nth-child(2) {
  background-color: var(--lighter-color);
}

.clients .dots span:hover {
  background-color: var(--lighter-color);
}

/* end clients */

/* start blog */
.blog {
  padding: var(--section-padding);
}

.blog .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.blog .box {
  box-shadow: 0px 0 30px rgb(1 41 112 / 12%);
  border-radius: 5px;
  transition: var(--transition);
}

.blog .box .img {
  overflow: hidden;
}

.blog .box .img img {
  max-width: 100%;
  display: block;
  transition: var(--transition);
}

.blog .box:hover .img img {
  transform: scale(1.2) rotate(6deg);
}

.blog .box .text {
  padding: 15px 25px 20px;
}

.blog .box .text span {
  color: rgba(1, 41, 112, 0.6);
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
}

.blog .box .text p {
  color: var(--main-color);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  transition: var(--transition);
}

.blog .box:hover .text p {
  color: var(--lighter-color);
}

.blog .box .text button {
  border: none;
  display: flex;
  align-items: flex-end;
  gap: 7px;
  background-color: transparent;
  color: var(--lighter-color);
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
}

.blog .box:hover .text button {
  opacity: 80%;
}

/* end blog */

/* start contact */
.contact {
  padding: var(--section-padding);
}

.contact .container {
  display: flex;
  gap: 30px;
}

@media (max-width: 991px) {
  .contact .container {
    flex-direction: column;
  }
}

.contact .info,
.contact .form {
  flex-basis: 50%;
}

.contact .info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
}

.contact .info .box {
  padding: 25px 30px;
  background-color: #fafbff;
}

@media (max-width: 767px) {
  .contact .info .box {
    text-align: center;
  }
}

.contact .info .box i {
  color: var(--lighter-color);
  font-size: 40px;
  margin-bottom: 20px;
}

.contact .info .box h4 {
  color: var(--main-color);
  font-size: 20px;
  margin-bottom: 20px;
}

.contact .info .box p {
  font-size: 15px;
  line-height: 2;
}

.contact .form {
  padding: 30px;
  background-color: #fafbff;
}

.contact .form form {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
}

@media (max-width: 767px) {
  .contact .form form {
    display: flex;
    flex-direction: column;
  }
}

.contact form input:nth-child(3) {
  grid-area: 2/1/2/3;
}

.contact form textarea {
  grid-area: 3/1/3/3;
  height: 150px;
}

.contact .form form .input {
  padding: 15px;
  border: 1px solid #ddd;
  outline: none;
}

.contact .form form input[type="submit"] {
  border: none;
  background-color: var(--lighter-color);
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

/* end contact */

/* start newsletter */
.newsletter {
  padding: 40px 0;
  background-color: #f6f9ff;
  border-top: 1px solid #e1ecff;
  text-align: center;
}

.newsletter h2 {
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 10px;
}

.newsletter form {
  width: 50%;
  margin: 30px auto 0;
  background-color: white;
  padding: 4px;
  display: flex;
  gap: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .newsletter form {
    width: 100%;
    gap: 10px;
  }
}

.newsletter form input {
  outline: none;
  border: none;
}

.newsletter form input[type="email"] {
  flex: 1;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .newsletter form input[type="email"] {
    padding-left: 0;
  }
}

.newsletter form input[type="submit"] {
  background-color: var(--lighter-color);
  padding: 13px 30px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

/* end newsletter */

/* start footer */
.footer-top {
  padding-top: 50px;
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media (max-width: 767px) {
  .footer-top {
    background-size: cover;
    background-position: bottom;
  }
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

footer .box:first-child .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  color: var(--main-color);
}

footer .box:first-child p {
  font-size: 15px;
  line-height: 2;
  margin-top: 15px;
}

footer .box:first-child .icon {
  color: rgba(1, 41, 112, 0.5);
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  gap: 14px;
  font-size: 24px;
}

footer .box:first-child .icon i {
  transition: var(--transition);
  cursor: pointer;
}

footer .box:first-child .icon i:hover {
  color: rgba(1, 41, 112, 0.8);
}

footer .box h3 {
  color: var(--main-color);
  font-size: 20px;
  text-transform: uppercase;
  margin: 8px 0 20px;
}

footer .box ul li {
  display: flex;
  gap: 7px;
  margin-bottom: 15px;
  color: var(--main-color);
  transition: var(--transition);
  cursor: pointer;
  width: fit-content;
}

footer .box ul li:hover {
  color: var(--lighter-color);
}

footer .box ul li i {
  font-size: 13px;
  margin-top: 2px;
  color: #d0d4fc;
}

footer .box:last-child p {
  line-height: 2;
  width: 200px;
}

footer .box:last-child .contact-us {
  margin-top: 20px;
}

footer .box:last-child .contact-us h4 {
  margin-bottom: 10px;
}

footer .box:last-child .contact-us h4 span {
  font-size: 15px;
  font-weight: normal;
}

.copyright {
  padding: 35px 0 20px;
  background-color: #f6f9ff;
  text-align: center;
}

.copyright p {
  font-size: 15px;
  color: var(--main-color);
}

.copyright p:first-child span {
  font-weight: 700;
}

.copyright p:nth-child(2) {
  margin: 10px 0;
}

.copyright p:not(:first-child) {
  font-size: 14px;
}

.copyright p:not(:first-child) a {
  color: var(--lighter-color);
  font-weight: 600;
}

/* end footer */
.scroll-btn {
  position: fixed;
  background-color: var(--lighter-color);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  border: none;
  transition: var(--transition);
  display: none;
  overflow: hidden;
  z-index: 99;
}
.scroll-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--alt-main-color);
  top: 0;
  left: -50px;
  border-radius: 50%;
  transition: var(--transition);
  z-index: -1;
}

.scroll-btn:hover::before {
  left: 0;
}

/* customize the scroll bar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 0 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--lighter-color);
  border-radius: 5px;
}
